# Dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.*
!.env.example

# Build
dist/
build/

# Cobertura
coverage/
.nyc_output/

# Cache
.cache/
.tmp/
temp/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/settings.json
.idea/

# Arquivos de lock opcionais
package-lock.json
yarn.lock
pnpm-lock.yaml

# Outros
*.tgz
